/*global*/
html{
    font-size: 62.5%; /*10px*/
}
html,body{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
}  

img{
    max-width: 100%;
}

p{
    font-size: 1.6rem;
    line-height: 2;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem;
}
/*utilities*/

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 768px) {
    .container{
        width: 95%;
    }
}

/*header*/

.site-header{
    background-image: url(img/header.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.site-header p{
    display: flex;
    align-items: flex-end;
    text-align: left;
    font-size: 45px;
    width: 50%;   
    padding-left: 10%;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 768px) {
    .menu-bar{
        flex-direction: column;
        justify-content: center;
    }
}
.menu{
    color: white;
    text-decoration: none;
    margin-left: auto;
}

.contact-header{
    background-color: orange;
    color: black;
    height: 30vh;
    
}
.contact-menu a{
    color: black;
    text-decoration: none;

}
/*about*/

.about-flex{
    display: flex;
    flex-direction: row;
}
@media(max-width: 768px) {
    .about-flex{
        display: flex;
        flex-direction: column;
    }
    h2, h3{
        text-align: center;
    }
    .about-flex img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/*Houses*/
.HandP{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}
@media(max-width: 768px){
    .HandP{
        display: flex;
        flex-direction: column;
    }
}
.houses-item{
    background-color: #dedede;
    border: 1px solid gray;
    margin-right: 3rem;
}
.houses-items-img{
}
.houses-item-text{
    padding: 2rem;
}
.house-price{
    color: green;
}
li{
    list-style: none;
}
.house-icons{
    display: flex;
    justify-content: space-around;
}
.house-details{
    display: flex;
}
.house-details img{
    margin-right: 1rem;
}
.contact-forms{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    width: 50%;
}
.btn-details{
    display: block;
    background-color: orange;
    padding: 5px;
    text-align: center;
}
/* Forms */
.form-container{
    justify-content: center;
    background-color: lightgray;
    padding: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.form-style{
    padding: 2rem;
    border-radius: 15px;
    justify-content: space-around;
    font-size: 16px;
    width: 80%;

}
.input-style{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}
label{
    justify-content: left;
}
input, select, textarea{
    justify-content: center;
    width: 50%;
}
/* About Page */
.members{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media(max-width: 768px){
    .members{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

/* Blog Page */
.sold  {
    display: flex;
    flex-direction: row;
}
.sold-numbers h3{
    text-align: start;
    height: 3rem;
    background-color: orange;
}
.sold img{
    margin-bottom: -8%;
}
.sales-container{
    width: 80%;
}
.blogs-container{
    display: flex;
    background-color: lightgray;
}
.blogs{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.blogs a{
    color: black;
    background-color: orange;
}
@media(max-width: 768px){
    .mobile-blogs{
        display: flex;
        flex-direction: row-reverse;
    }
    .sold{
        flex-direction: column;
    }
    .sales-container{
        flex-direction: column;
    }
    .mobile-BP{
        flex-direction: column;
    }
    .blogs-container{
        flex-direction: column;
    }

}

/* footer */
.index-footer{
    display: flex;
    flex-direction: column;
    background-image: url(img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    height: 20vh;
}
.index-footer h1,.index-footer p,.index-footer button{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
}
.index-footer button{
    background-color: orange;
    height: 30px;
}
.contact-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: lightgrey;
    background-position: 100%;
    margin-top: 3rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.contact-footer a{
    color: black;
    font-size: 40px;
    text-decoration: underline;
}
.logos{
    display: flex;
    size: 1000%;
}
.fa-brands{
    font-size: 72px;
}